* {
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: rgb(35, 211, 255);
}

body {
    height: 100%;
}

.titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 20px 0 10px 0;
}

.titleContainer h1 {
    background-color: #fff;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    margin-top: 10px;
}

.formulaire {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
}

.formulaire i {
    background-color:  rgb(214, 251, 49);
}

input {
    height: 100%;
    width: 80%;
    background-color: rgb(253, 243, 231);
    box-shadow: 1px 1px 10px grey;
    border-radius: 4px;
    border: none;
}

.formulaire .buttons {
    display: flex;
    justify-content: space-around;
} 

.buttons {
    height: 100%;
    width: 35%;
    display: flex;
    justify-content: end;
    align-items: center;
}

button {
    height: 100%;
    width: 50%;
    border: none;
    border-radius: 7px;
    background-color: rgb(214, 251, 49);
    font-weight: 800;
}

.ToDoListContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.toDo {
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
div .div {
    width: 80%;
}

.toDo p {
    display: flex;
    align-items: center;
    padding-left: 5px;
    background-color: rgb(253, 243, 231);
    width: 69.2%;
    font-weight: 600;
    border-radius: 4px;
}

.toDo .buttons {
    height: 30px;
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}

.toDo .buttons button {
    width: 40%;
}

i {
    color: #fff;
    font-size: 18px;
}

.trashButton {
    background-color: red;
}

.trashButton i {
    background-color: red;
}

.validButton {
    background-color: rgb(20, 237, 20);
}

.validButton i {
    background-color: rgb(20, 237, 20);
}

@keyframes animationValidToDo {
    0% {
        margin-left: -70%;
        opacity: 0;
    }
    50% {
        margin-left: 25%;
    }
    100% {
        margin-left: 0%;
        opacity: 1;
    }
}

.toDo {
    animation-name: animationValidToDo;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
}

@keyframes animationRemoveToDo {
    0% {
        margin-right: 0%;
        opacity: 1;
    }
    50% {
        margin-right: 25%;
    }
    100% {
        margin-right: -70%;
        opacity: 0;
    }
}

.styleRemoveTask {
    animation-name: animationValidToDo;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
}